/* Para campos com erro */
.is-invalid {
  border-color: red;
  background-color: #f8d7da;
}

/* Para campos válidos */
.is-valid {
  border-color: green;
  background-color: #d4edda;
}

.invalid-feedback {
  color: red;
  font-size: 1rem;
}
